@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto Slab", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply bg-background text-gray-900;
  }
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

 {
   {
    /* make all inputs outline none by default */
  }
}
input {
  outline: none;
}

 {
   {
    /* make all buttons outline none by default */
  }
}
button {
  outline: none;
}
